/*----------------------------- Global Styling -----------------------------*/

body {
	/* Sticknav module is adding weird padding at the top for no reason. Need to figure out the best place for this for other sites (maybe in a PT module?) */
	padding-top: 0px!important;
}

/* shrink logo on scroll */
.reduce {
		height: 80px;
	}
.reduce img {
	width: 50%;
}
.breadcrumb {
	background: transparent;
}
.breadcrumb li:not(:last-child):after {
	font-family: 'themify';
	content: "\e628";
	border: none;
	transform: unset;
	-webkit-transform: unset;
	top: 20%;
	right: -25px;
	color: #e32688;
}
.breadcrumb li:first-child {
	padding-left: 0;
}
.breadcrumb li a {
	text-decoration: underline;
	text-decoration-color: #e32688;
}

/*------------------------------ Buttons ------------------------------*/

.btn {
	text-transform: none;
	letter-spacing: 0;
	padding: 14px 30px;
	font-weight: 700;
	margin: 30px auto 20px auto;
	border-radius: 2px;
	display: table;
	font-family: 'd-din_expdinexp-bold', sans-serif;
}
.btn.btn-outline {
	border:3px solid;
}

/*------------------------------ Front-end Admin UI Styling ------------------------------*/
.logged-in ul.primary li a, 
.logged-in ul.primary li a:visited, 
.logged-in ul.primary li a:hover, 
.logged-in ul.primary li.active a, 
.expand-dropdown-tabs-control, 
.responsive-tabs-mobile .expand-dropdown-tabs-control:before, 
.responsive-tabs-mobile .expand-dropdown-tabs-label {
	border-color: #e32688;
}

/*------------------------ Header/Navigation Styling ------------------------*/
body .layout--ptc-full-screen-top .l-header,
body .layout--ptc-full-screen-top-right .l-header {
	padding-top: 0 !important;
	background-color: #ffffff;
	text-align: center;
}
.l-header .block-system-header {
	background-color: #ffffff;
}
.l-header .header-identity-wrapper {
	height: 90px;
}
.l-header .header-logo-wrapper {
	left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    max-width: unset;
    height: auto;
    padding-top: 5px;
}
.layout--ptc-full-screen-top .l-header img,
.layout--ptc-full-screen-top-right .l-header img {
	height: 150px;
}
.l-header .block-system-main-menu, .l-header .block-search-form {
		display: inline-block;
		vertical-align: top;
	}
.l-header .block-system-main-menu .sub-arrow {
	display: none;
}
.l-header .block-search-form form {
	margin: 0;
}
.menu-toggle-button-icon, 
.menu-toggle-button-icon::before, 
.menu-toggle-button-icon::after {
	background-color: #969696;
}
.l-header .menu-toggle-button-text {
	color: transparent;
	display: block;
	height: 20px;
}
.l-header .block-system-main-menu a:hover {
	color: #ffffff;
}
.l-header .block-system-main-menu ul ul a:hover {
	color: #000000;
}
@media (min-width: 48em) {
	.js .menu-dropdown > li.has-children > a:hover, 
	.js .menu-dropdown > li.has-children > a:focus {
		background-color: transparent;
	}
	.menu-dropdown ul {
		background: #ffffff;
	}
	.menu-dropdown ul a {
		color: #000000;
	}
	.menu-dropdown ul a:hover, 
	.menu-dropdown ul a:focus, 
	.menu-dropdown ul a:active, 
	.menu-dropdown ul a.highlighted {
		background: #ffffff;
		color: #e32688;
	}
	.js .menu-dropdown ul ul {
		border-left: none;
	}
}

@media (min-width: 70em) {
	body .layout--ptc-full-screen-top .l-header,
	body .layout--ptc-full-screen-top-right .l-header {
		background-color: #e32688;
	}
	.l-header .header-identity-wrapper:not(.reduce) {
		height: 160px;
	}	
}

/*------------------------ Slider Styling ------------------------*/
.block-views-homepage-content-homepage-slideshow-block .flexslider {
	background: none;
	border: none;
	padding: 4em 4em .5em 4em;
}
.block-views-homepage-content-homepage-slideshow-block .flexslider .slides img {
	width: 60%;
}
.block-views-homepage-content-homepage-slideshow-block {
	background: url('../images/homeslide-background.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
/* slider controls */
.flexslider:hover .flex-direction-nav a.flex-prev,
.flexslider:hover .flex-direction-nav a.flex-next {
	background: rgba(0,0,0,0.3);
	border-radius: 3px;
	text-align: center;
	height: 60px;
	width: 60px;
	font-size: 25px;
	color: transparent;
	text-shadow: none;
	margin-left: 1em;
	margin-right: 1em;
}
.flexslider .flex-direction-nav a.flex-prev:before,
.flexslider .flex-direction-nav a.flex-next:before {
	position: relative;
	top: 20%;
}
.flexslider .flex-direction-nav a.flex-prev:before {
	content: "\e64a";
}
.flexslider .flex-direction-nav a.flex-next:before {
	content: "\e649";
}

/*------------------------------ Icons ------------------------------*/

.ico {
	color: #ffffff;
	background: #e32688;
	border-radius: 50%;
	padding: 8px;
	font-size: 24px;
}
.ico:hover {
	background: rgb(255,222,84);
}

/*------------------------------ Form Styling ------------------------------*/

/* Mailchimp Overrides */
.block-block-mailchimp-signup #mc_embed_signup form {
	padding: 0;
}
.block-block-mailchimp-signup #mc_embed_signup input.email {
	width: 100%;
	border-radius: 0;
}
.block-block-mailchimp-signup #mc_embed_signup input {
	border: 1px solid #ebebeb;
}
.block-block-mailchimp-signup #mc_embed_signup input.button {
	border: none;
}
.block-block-mailchimp-signup #mc_embed_signup .button,
.button {
	background-color: #e32688;
	border-radius: 0;
	text-transform: none;
}

/*------------------------ Content General Styling ------------------------*/

body:not(.front) .l-content .header {
	background: transparent;
	margin-bottom: 0;
	background-attachment: unset;
    background-size: unset;
    background-repeat: unset;
    background-position: unset;
    background-image: none;
}
.front .container.l-content {
	margin-top: 0;
}
.block-block-mailchimp-signup form {
	margin: 0;
}
.container.l-content, .container.l-right {
	margin: 50px 0;
}
.block-block-donate-button img {
	margin: 20px 0;
	transition: all 0.3s ease;
}
.block-block-donate-button img:hover {
	opacity: 0.5;
}
.block-views-homepage-content-homepage-latest-news-block {
	padding-top: 50px;
}
.views-field .image-field-caption {
	display: none;
}

/*------------- Bottom & Footer/Navigation Styling ---------------*/

.l-bottom {
	background: #dedede;
	color: #000000;
	padding-top: 25px;
}
.l-bottom .menu {
	font-size: 1.1rem;
}
.l-bottom .menu a,
.l-bottom .menu a:hover {
	text-decoration: none;
}
.l-bottom p {
	margin-top: 0;
}
.l-bottom .block-block-social-media-buttons .ico {
	margin: 4px;
}
.l-bottom .block-menu-menu-footer-menu, .l-bottom .block-block-social-media-buttons {
	margin-top: 40px;
}
.l-footer {
	padding: 0;
	line-height: 1.5;
	border-top: none;
	background: #000000;
	color: #ffffff;
	font-size: 11px;
}
.l-footer .menu a {
	font-size: 18px;
	font-weight: 700;
}
.block-block-copy-privacy a {
	color: #ffffff;
}


/*---------------------------- Some Basis theme overrides that need to be moved elsewhere ----------------------------*/

