/*------------------------------ Headings ------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'LatoWebBlack', sans-serif;
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #000000;
}
h1, h2, h3, h6 {
	padding: 0 0 0.5rem;
}
h1.block-title {
	margin: 0 0 1em;
}
h3 {
	color: #000000;
	font-size: 28px;
}
h4 {
	padding: 1rem 0 0.5rem;
	font-size: 1.1em;
	letter-spacing: 2px;
}

/*------------------------------ Text ------------------------------*/
body,
#mc_embed_signup input.email {
	/* Sticknav module is adding weird padding at the top for no reason. Need to figure out the best place for this for other sites (maybe in a PT module?) */
	padding-top: 0px!important;
	font-family: 'LatoWeb', sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
}
/* ---- Links ---- */

a {
	color: #e32688;
	transition: color .3s ease;
}
a:hover {
	text-decoration: none;
	color: #e32688;
}
.paragraph a {
	text-decoration: none;
}
.paragraph a:hover {
	text-decoration: underline;
}

/* ---- Lists ---- */

ul {
	list-style-type: disc;
	
}
 .l-content li:not(.horizontal-tab-button) {
    font-size: 1em;
}
p {
  font-size: 1em;
}


/*------------------------------ Navigation ------------------------------*/
.l-header .block-system-main-menu .menu > li {
	text-transform: uppercase;
	font-size: 1.15em;
	font-family: 'LatoWeb', sans-serif;
	letter-spacing: 0;
}
.l-header .block-system-main-menu ul:not(.contextual-links) li ul li {
	text-transform: initial;
}
.l-header .block-system-main-menu .menu > li .menu-dropdown {
	text-transform: none;
}

@media (min-width: 34em) {
	.l-header .menu a {
		padding: .8rem .8rem;
	}
}


/*------------------------------ Slider ------------------------------*/
.flexslider .flex-direction-nav a.flex-prev:before,
.flexslider .flex-direction-nav a.flex-next:before {
	color: #ffffff;
	font-size: 25px;
	font-family: 'themify';
	font-weight: 900;
	text-shadow: none;
}
.block-views-homepage-content-homepage-slideshow-block a {
	color: #000000;
}
.block-views-homepage-content-homepage-slideshow-block h1 {
	font-size: 1.5em;
}
.block-views-homepage-content-homepage-slideshow-block .date-display-single {
	font-weight: 100;
	font-size: 2em;
	font-family: 'LatoWebLight';
}

/*------------------------------ Buttons ------------------------------*/
.btn {
	font-family: 'LatoWeb', sans-serif;
}

/*------------------------ Content General Styling ------------------------*/
.block-views-homepage-content-homepage-latest-news-block .views-field-title {
	text-align: center;
}
.block-views-homepage-content-homepage-latest-news-block .views-field-body {
	font-size: 1em
}

/*------------------------ Paragraphs Styling ------------------------*/
.paragraphs-item.paragraphs-item-individual-bio .field-name-field-bio-name,
.paragraphs-item.paragraphs-item-individual-bio .field-name-field-bio-title {
	font-size: 22.5px;
	font-weight: 700;
	text-transform: uppercase;
}
.paragraphs-item .field-name-field-text-block-title {
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
